/* ajdin masic 8-26-17 */

h1, h2, h3, h4 {
    font-weight: 400;
}

body {
  padding-top: 10rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar-brand{
	font-size: 25px;
}

.navbar {
	border-bottom: 2px solid black;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link {
	color: black;
}

.bg-dark {
background: #DBDBDB!important;
}

.navbar {
    text-transform: uppercase;
}

.container h1 {
    font-weight: 400;
    text-align:center;
}

.lead {
    text-align: center;
}

.fa-4 {
    font-size: 11em;
}

/* COlumn styles */
.col-sm-4 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.col-sm-4 h3 {
    text-transform: uppercase;
    font-size: 1.4em;
}

.col-space {
    margin-top: 15px;
}

/* Form styles */
.calculator label {
	float: left;
    text-align: right;
    clear: both;
}

.calculator {
    width: 25em;
    display: block;
    margin-left: 150px;
    margin-top: 50px;
}
.calculator input {
    margin-left: 1em;
    margin-bottom: .5em;
	margin-right: .5em;
    display: block;
    float: right;
}
.calculator span {
	color: red;
    float: right;
}

.calculator footer {
    clear: both;
    background: #DBDBDB!important;
    height: 200px;
}

footer .container {
    position: relative;
}

footer .container p {
    position: absolute;
    top: 50px;
    left: 0;
}

#date {
    padding-top: 45px;
}

/* Form Styling */

#contact_form {
    display: block;
    margin: auto;
    width: 100%;
}

#contact_form h1 {
	color: blue;
	margin-bottom: .5em;
}
#contact_form label {
	float: left;
    width: 11em;
    text-align: right;
}
#contact_form input,
#contact_form textarea{
    margin-left: 1em;
    margin-bottom: .5em;
}
#contact_form span {
	color: red;
    clear: left;
}

/* FAQ */
body#faqs_body {
    width: 350px;
    margin: auto;
    display: block;
}

#faqs h1 { 
    font-size: 150%;
}
#faqs h2 {
    font-size: 120%;
    padding: .25em 0 .25em 25px;
    cursor: pointer;
    background: url(../images/plus.png) no-repeat left center;
}
#faqs h2.minus {
    background: url(../images/minus.png) no-repeat left center;
}
#faqs a {
    color: black;
    text-decoration: none; 
}
#faqs a:focus, a:hover { color: blue; }

#faqs div {
    display: none;
}
#faqs div.open {
    display: block;
}
#faqs ul {
    padding-left: 45px;
}
#faqs li {
    padding-bottom: .25em;
}
#faqs p {
    padding-bottom: .25em;
    padding-left: 25px;
}

/* svg styling */
svg#Layer_1 {
    max-width: 100px;
    max-height: 100px;
    display:block;
    margin: auto;
}
